@import "scss/component/characters";
@import "scss/component/colors_display";
@import "scss/component/footer";
@import "scss/component/sinopsis";
@import "scss/component/islands";
@import "scss/component/menu";
@import "scss/component/mist_objects";
@import "scss/component/search";
@import "scss/component/sections";
@import "scss/component/mist";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
