a {
  text-decoration: none;
}

/* --- You know what this is --- */
#blobSvg {
  max-width: 520px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.85);
  color: #efefef;
  z-index: 5;
  padding: 1rem;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav__menucontainer {
  position: relative;
}

.nav__hamburger {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  -webkit-transition: opacity 80ms linear;
  transition: opacity 80ms linear;
  /* hiding the hamburger icon on large screen sizes */
  display: none;
  opacity: 0;
}

.nav__hamburgerclose {
  color: inherit;
  position: absolute;
  top: 0;
  min-width: 32px;
  min-height: 32px;
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
  /*   hiding the close icon and... */
  display: none;
  opacity: 0;
  z-index: -1;
  /* pushing it behind the hamburger icon so that hamburger icon can be clicked */
}

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.nav__link:hover,
.nav__link:focus-visible {
  -webkit-box-shadow: 0 4px 0 -1px #a2e718;
          box-shadow: 0 4px 0 -1px #a2e718;
}

/* ----- smaller screen sizes ----- */
@media (max-width: 520px) {
  .nav__hamburger {
    /* making the hamburger icon visible on smaller screen sizes */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav__menu {
    /* move menu offscreen */
    opacity: 0;
    position: fixed;
    visibility: none;
    top: -1000px;
    /* just some styles */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #25310c;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* part of glass morphism effect */
    border-radius: 2rem 0 2rem 2rem;
    background: white;
  }
  /* uncomment the line below to activate on hover. */
  /*   .nav__listcontainer:hover .nav__menu, */
  .nav__listcontainer:focus .nav__menu,
  .nav__listcontainer:focus-within .nav__menu {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }
  /*   if the browser supports backdrop-filter property, 
    then add it (for the glass morphism effect) */
  @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    /* uncomment the line below to activate on hover. */
    /*     .nav__listcontainer:hover .nav__menu, */
    .nav__listcontainer:focus .nav__menu,
    .nav__listcontainer:focus-within .nav__menu {
      background: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
    }
  }
  .nav__item {
    margin-right: 0;
    padding: 0.5rem 1.5rem;
  }
  .nav__link:hover,
  .nav__link:focus {
    opacity: 0.8;
    color: #121212;
  }
  /*  uncomment the line below to activate on hover. */
  /* NOTE: Hover is not recommended, it will have side effects on this */
  /*   .nav__listcontainer:hover .nav__hamburger, */
  .nav__listcontainer:focus .nav__hamburger,
  .nav__listcontainer:focus-within .nav__hamburger {
    opacity: 0;
    z-index: -1;
  }
  /* uncomment the line below to activate on hover. */
  /* NOTE: Hover is not recommended, it will have side effects on this */
  /*   .nav__listcontainer:hover + .nav__hamburgerclose, */
  .nav__listcontainer:focus + .nav__hamburgerclose,
  .nav__listcontainer:focus-within + .nav__hamburgerclose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    z-index: 1;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* centering elements inside .container */
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  /* centering container within its parent */
  padding: 2em 1.5em;
  background: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  height: 40px;
  width: 112.1px;
}

@media only screen and (min-width: 320px) {
  .logo {
    height: 40px;
    width: 112.1px;
  }
}

@media only screen and (min-width: 490px) {
  .logo {
    height: 40px;
    width: 112.1px;
  }
}

@media only screen and (min-width: 1100px) {
  .logo {
    height: 58px;
    width: 163px;
  }
}

.footer__logo {
  margin-right: 38px;
  margin-left: 38px;
}

.material-icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 15px;
}

.expand {
  color: #0c75af;
}

.search-box__input {
  width: 100%;
  height: 53px;
  border: 0px;
  outline: none;
}

.search-box__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
}

.search-box__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
}

.search-box__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
}

.search-box__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
}

.colors__display {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: -ms-grid;
  display: grid;
  grid-gap: var(--pl-grid-gap);
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.colors__display li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid var(--pl-border-color);
  border-radius: 8px;
}

.color__sample {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.color__label {
  font-size: 90%;
  line-height: 1;
}

.flag {
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 2px;
  padding-left: 25px;
}

.active-flag {
  background-color: #ececec;
}

.section-title {
  font-size: 18px;
}

@media only screen and (min-width: 320px) {
  .section-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 490px) {
  .section-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1100px) {
  .section-title {
    font-size: 28px;
  }
}

.footer-text {
  width: 286px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #171717;
}

@media only screen and (min-width: 320px) {
  .footer-text {
    text-align: center;
  }
}

@media only screen and (min-width: 490px) {
  .footer-text {
    text-align: center;
  }
}

@media only screen and (min-width: 1100px) {
  .footer-text {
    text-align: left;
  }
}

.menu-item {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.active {
  color: #0c75af;
}

.inactive {
  color: #575757;
}

.read-button__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #0c75af;
}

.see-all {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #0c75af;
}

.sinopsis-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #171717;
}

.sinopsis-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #171717;
}

.character-image {
  height: 231px;
  width: 181.94px;
}

@media only screen and (min-width: 320px) {
  .character-image {
    height: 231px;
    width: 181.94px;
  }
}

@media only screen and (min-width: 490px) {
  .character-image {
    height: 184.1px;
    width: 145px;
  }
}

@media only screen and (min-width: 320px) {
  .character-image {
    height: 279px;
    width: 219.74px;
  }
}

.island-image {
  height: 193px;
  width: 194px;
}

@media only screen and (min-width: 320px) {
  .island-image {
    height: 193px;
    width: 194px;
  }
}

@media only screen and (min-width: 490px) {
  .island-image {
    height: 199px;
    width: 200.03px;
  }
}

@media only screen and (min-width: 320px) {
  .island-image {
    height: 298.5px;
    width: 300.05px;
  }
}

.mist-object-image {
  height: 132px;
  width: 174.49px;
}

@media only screen and (min-width: 320px) {
  .mist-object-image {
    height: 132px;
    width: 174.49px;
  }
}

@media only screen and (min-width: 490px) {
  .mist-object-image {
    height: 175px;
    width: 181px;
  }
}

@media only screen and (min-width: 320px) {
  .mist-object-image {
    height: 254.29px;
    width: 263.22px;
  }
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #b5b5b5;
}

.read-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0c75af;
}
/*# sourceMappingURL=style 30.css.map */