<div class="footer">
  <img
    src="{{footer-logo__src}}"
    class="footer__logo"
    alt="{{footer-logo__alt}}"
  />
  <p class="footer__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
    asperiores sint iusto aperiam, ut non.
  </p>
</div>
