<div class="read-button">
    {{> atoms-expand-more_icon}}
    {{> atoms-read-more-sinopsis}}
</div>
<br>
<div class="read-button">
    {{> atoms-expand-less_icon}}
    {{> atoms-read-less-sinopsis}}
</div>