@mixin mobile {
  @media only screen and (min-width: 220px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 490px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1100px) {
    @content;
  }
}
