$color-black: #171717;
$color-grey_0: #575757;
$color-grey_1: #7d7d7d;
$color-grey_2: #b5b5b5;
$color-grey_3: #dcdcdc;
$color-grey-4: #ececec;
$color-grey_5: #f3f3f3;
$color-primary_dark_2: #006096;
$color-primary-dark_1: #0c75af;
$color-primary: #66b7f1;
$color-primary_light_1: #b8e1ff;
$color-primary_light_2: #eaf5ff;
$color-secondary_dark_2: #0072ce;
$color-secondary_dark_1: #008dff;
$color-secondary: #00b5e2;
$color-secondary_light_1: #62e0ff;
$color-secondary_light_2: #a0ecff;

$white-gradient: linear-gradient(
  rgba(255, 255, 255, 0) 60%,
  rgba(255, 255, 255, 1)
);
$black-gradient: linear-gradient(
  179.8deg,
  rgba(255, 255, 255, 0) 50.33%,
  #000000 97.62%
);
$background-color: rgba(0, 96, 150, 0.59);
$backgroud-blur: blur(4.12435px);
