<body>
	<div class="header">
		{{> molecules-menu}}
	</div>
	<div class="content">
		{{> molecules-sinopsis}}
		{{> molecules-search-bar}}
		<div class="sections">
			{{> organisms-characters-section}}
			{{> organisms-islands-section}}
			{{> organisms-mist-objects-section}}
		</div>
	</div>
	<div class="footer">
		{{> molecules-footer}}
	</div>
</body>