<div class="mist__text--container">
  <p class="mist__text--container-title">
    Gomu Gomu No Mi
  </p>
  <p class="mist__text--container-content">
    Is a Paramecia-type Devil Fruit that gives the user's body the properties of
    rubber, making the user a Rubber Human. It was then accidentally eaten by
    the series protagonist, Monkey D. Luffy.
  </p>
</div>