<div class="section">
  <div class="section__header">
    <h1 class="section__header--title">Characters</h1>
    <p class="see-all">See all</p>
  </div>
  <div class="character">
    <div class="character__box">
      <div class="character__box--name">
        <p>Monkey D. Luffy</p>
      </div>
      <div class="character__box--image-container">
        <img
          class="character-image"
          src="../../images/characters/monkeydluffy.svg"
          alt="Monkey D. Luffy"
          width="100%"
        />
      </div>
    </div>
    <div class="character__box">
      <div class="character__box--name">
        <p>Portgas D. Ace</p>
      </div>
      <div class="character__box--image-container">
        <img
          class="character-image"
          src="../../images/characters/ace.svg"
          alt="Portgas D. Ace"
          width="100%"
        />
      </div>
    </div>
    <div class="character__box">
      <div class="character__box--name">
        <p>Roronoa Zoro</p>
      </div>
      <div class="character__box--image-container">
        <img
          class="character-image"
          src="../../images/characters/zoro.svg"
          alt="Roronoa Zoro"
          width="100%"
        />
      </div>
    </div>
    <div class="character__box">
      <div class="character__box--name">
        <p>Nico Robin</p>
      </div>
      <div class="character__box--image-container">
        <img
          class="character-image"
          src="../../images/characters/nico.svg"
          alt="Nico Robin"
          width="100%"
        />
      </div>
    </div>
  </div>

</div>