<ul class="colors__display">
  {{#items}}
    <li>
      <span class="color__sample" style="background: {{colorHex}};"></span>
      <span class="color__label">
        {{colorName}}
        <br />
        {{colorHex}}
      </span>
    </li>
  {{/items}}
</ul>
<!--end sg-colors-->