@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

 
.colors__display {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    display: grid;
    grid-gap: var(--pl-grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  
  .colors__display li {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    min-width: 5em;
    max-width: 14em;
    border: 1px solid var(--pl-border-color);
    border-radius: 8px;
  }
  
  .color__sample {
    display: block;
    height: 4em;
    margin-bottom: 0.3em;
    border-radius: 5px;
  }
  
  .color__label {
    font-size: 90%;
    line-height: 1;
  }