@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

.header-image {
  width: 100vw;
  height: 460px;

  @include mobile {
    height: 260px;
    background: $white-gradient, url(../../../images/characters/characters.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  @include tablet {
    height: 444px;
    background: url(../../../images/characters/characters.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  @include desktop {
    height: 628px;
    width: 640px;
    background: url(../../../images/characters/characters.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
  }
}

.logo {
  height: 40px;
  width: 112.1px;
  @include mobile {
    height: 40px;
    width: 112.1px;
  }
  @include tablet {
    height: 40px;
    width: 112.1px;
  }
  @include desktop {
    height: 58px;
    width: 163px;
  }
}

.flag {
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 2px;
  padding-left: 25px;
}

.active-flag {
  background-color: $color-grey_4;
}

.material-icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 15px;
}

.expand {
  color: $color-primary-dark_1;
}

.location {
  height: 11.6px;
  width: 14px;
}

.location-display {
  padding: 30px;
  background: $background-color;
  backdrop-filter: $backgroud-blur;
}

.menu-item {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.active {
  color: $color-primary-dark_1;
}

.inactive {
  color: $color-grey_0;
}

.read-button__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $color-primary-dark_1;
}

.see-all {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $color-primary-dark_1;
}

.sinopsis-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $color-black;
}

.sinopsis-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: $color-black;
}

.read-button {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: 2px solid $color-primary-dark_1;
}
