@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mist-object__box {
  display: flex;
  flex-direction: row;

  height: 135px;
  @include mobile {
    height: 175px;
  }
  @include tablet {
    height: 200.76px;
  }
  @include desktop {
    height: 254.29px;
  }
}

.mist-object-image {
  width: 184px;
  height: 135px;
  @include mobile {
    width: 200px;
    height: 175px;
  }
  @include tablet {
    width: 273.63px;
    height: 200.76px;
  }
  @include desktop {
    width: 297.42px;
    height: 254.29px;
  }
}

.mist__text--container {
  position: relative;
  width: 184px;
  height: 135px;
  left: -10%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(0, 96, 150, 0.59);
  backdrop-filter: blur(4px);
  border-radius: 0px 6px 6px 0px;
  color: $color-grey_5;


  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  align-self: stretch;
  @include mobile {
    width: 200px;
    height: 175px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 8px;
  }
  @include tablet {
    width: 273.63px;
    height: 200.76px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 8px;
  }
  @include desktop {
    width: 297.42px;
    height: 254.29px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    padding: 11px;
  }
}

.mist__text--container-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1px;
}

.mist__text--container-content {
  margin: 5.94839px 0px;
}
