@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

.mist-objects {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mist-object {
  display: flex;
  margin-bottom: 20px;
  @include mobile {
    height: 175px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  @include tablet {
    height: 180px;
  }
  @include desktop {
    height: 254.29px;
    overflow-x: hidden;
  }

  &__image--container {
    display: flex;
    width: 174.49px;
    height: 175px;
    @include mobile {
      width: 174.49px;
      height: 175px;
      margin-top: -5px;
      margin-bottom: -5px;
      flex-shrink: 0;
    }
    @include tablet {
      width: 181px;
      height: 190px;
    }
    @include desktop {
      width: 263.22px;
      height: 265px;
    }
  }

  .mist__text--container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 96, 150, 0.59);
    backdrop-filter: blur(4px);
    border-radius: 0px 6px 6px 0px;
    color: $color-grey_5;
    @include mobile {
      margin-left: -50px;
      width: 240px;
      height: 168px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding: 8px;
      flex-shrink: 0;
    }
    @include tablet {
      margin-left: -80px;
      margin-top: 3px;
      width: 200px;
      height: 174px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.15px;
      padding: 8px;
    }
    @include desktop {
      margin-left: -100px;
      margin-top: -1px;
      width: 297.42px;
      height: 255px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.15px;
      padding: 11px;
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    &-content {
      margin: 5.94839px 0px;
    }
  }
}
