@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  border: 2px solid $color-grey_4;
  border-radius: 6px;
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
}

.search-box__input {
  width: 100%;
  height: 53px;
  border: 0px;
  outline: none;
}

.search-box__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding-left: 10px;
}
