@import "../abstract/_mixins.scss";
@import "../abstract/_variables.scss";


.section-title {
  margin-bottom: 20px;
  font-size: 18px;
  @include mobile {
    font-size: 18px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 28px;
  }
}

.box-header {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
