<body>
	{{> molecules-menu}}
	<div class="content">
		{{> molecules-sinopsis}}
		{{> molecules-search-bar}}
		<div class="sections">
			{{> organisms-characters-section}}
			{{> organisms-islands-section}}
			{{> organisms-mist-objects-section}}
		</div>
	</div>
	{{> molecules-footer}}
</body>